/************************************************************************
 * Styles globaux */

body {
    padding: var(--pico-grid-row-gap);
}

/************************************************************************
 * En-tête */

body > header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: var(--pico-grid-column-gap);
    row-gap: var(--pico-grid-row-gap);
    white-space: nowrap;
    padding: 0;
    overflow: hidden;
    margin-bottom: var(--pico-block-spacing-vertical);
}

body > header > img.lan-logo {
    border: var(--pico-border-width) solid var(--pico-muted-border-color);
    border-radius: var(--pico-border-radius);
}

body > header > img.game-logo {
    margin-left: auto;
    margin-right: auto;
}

body > header > .title > h1 {
    color: var(--pico-primary);
    margin-bottom: 0;
}

body > header > .title > div {
    color: var(--pico-muted-color);
    font-size: 1rem;
}

body > header > .countdown {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: var(--pico-grid-column-gap);
    row-gap: var(--pico-grid-row-gap);
}

body > header > .countdown > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body > header > .countdown > div > time {
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 1.125;
    color: var(--pico-primary);
}


/************************************************************************
 * Contenu */

body article {
    margin-bottom: 0;
}

body article > header {
    font-weight: bolder;
}

body > section {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: var(--pico-grid-column-gap);
    row-gap: var(--pico-grid-row-gap);
}

/************************************************************************
 * Bloc Joueurs */

body > section > .players > .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    margin-bottom: var(--pico-spacing);
}

body > section > .players > .list > .dead {
    text-decoration: line-through;
}

body > section > .players > .map {
    width: 400px;
    height: 400px;
    background-image: url("/images/map.png");
    background-repeat: no-repeat;
    position: relative;
    border: 1px solid var(--pico-muted-border-color);
    border-radius: var(--pico-border-radius);
    box-sizing: content-box;
    background-clip: content-box;
}

body > section > .players > .map > span {
    position: absolute;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    border: 1px solid #fff;
}